.control-panel {
  margin-bottom: 10px;
  padding: 10px 15px;
  box-shadow: inset 2px 2px 2px rgba(154, 147, 140, 0.5), 2px 2px 5px rgba(255, 255, 255, 1);

  display: flex;
  justify-content: space-between;
}

.control-panel .counter {
  height: 32px;
  width: 40px;
  background-color: black;
  font-size: 18px;
  font-weight: 600;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.control-panel .game-status {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 1), 2px 2px 2px rgba(154, 147, 140, 0.5);
  cursor: default;
  user-select: none;
}

.control-panel .game-status.holding {
  box-shadow: inset 2px 2px 2px rgba(154, 147, 140, 0.5), 2px 2px 2px rgba(255, 255, 255, 1);
}

